<div id="<%= dom_id episode %>" class="episode p-2">
  <h5 class="episode-header">
    <% if episode.subtitle_file.present? %>
      <span class="badge text-bg-success">
        Transcribed
      </span>
    <% end %>
    <%= episode.title %>
  </h5>
  <div class="episode-body">
    <div class="list-group m-2">
      <% if episode.subtitle_file.present? %>
        <div class="list-group-item">
          <strong>Transcription Details</strong>
          <p>Transcribed At:
            <time><%= l episode.transcribed_at, format: :short %></time></p>
        </div>
      <% end %>

      <div class="list-group-item " role="group">
        <% if  episode.audio_file.blank? %>
          <%= turbo_frame_tag dom_id(episode,'download-episode') do %>
            <%= link_to "Download Audio",
            download_episode_episode_path(episode),
            class: "btn btn-outline-primary",
            data: {
              turbo_prefetch: false,
            } %>
          <% end %>
        <% end %>

        <%= link_to "Study episode", episode_path(episode), class: "btn btn-primary" %>
      </div>

    </div>
  </div>

</div>
