<div id="<%= dom_id episode %>" class="list-group my-5 col">
  <div class="list-group-item d-flex">
    <strong>Title:</strong>
    <%= episode.title %>
  </div>
  <div class="list-group-item  d-flex">
    <strong>Url:</strong>
    <%= episode.url %>
  </div>
  <div class="list-group-item  d-flex">
    <strong>Is youtube:</strong>
    <%= episode.is_youtube ? "Yes" : "No" %>
  </div>
  <div class="list-group-item d-flex">
    <strong>Already transcribed:</strong>
    <% if episode.srt_file.blank? %>
      No
    <% else %>
      Yes (<time><%= l episode.transcribed_at, format: :short %></time>)
    <% end %>
  </div>
  <div class="list-group-item d-flex">
    <strong>Downloaded:</strong> <%= episode.audio_file.blank? ? "No" : "Yes" %>
  </div>
  <% if episode.srt_file.present? %>
    <div class="list-group-item d-flex">
      <%= link_to "Download Srt File", episode.srt_file, class: "btn btn-outline-primary" %>
    </div>
  <% end %>
  <% unless episode.transcribed_at %>
    <div class="list-group-item d-flex">
      <%= turbo_frame_tag dom_id(episode,'transcribe-link') do %>
        <%= link_to "Transcribe",
                        transcribe_now_episode_path(episode),
                        class: "btn btn-outline-primary",
                        data: { turbo_prefetch: false }

            %>
      <% end%>
    </div>
  <% end %>
</div>
